@import "bourbon"
@import "settings"



//--------------------------------------------------------------
//  Global
//--------------------------------------------------------------

html,body
    margin: 0
    height: 100%
    
    @include tablet
        overflow-x: hidden
    
a
    text-decoration: none

body
    font: 100% $helvetica

.container
    @include display(flex)
    @include flex-direction(row) 
    
   
    position: relative
    max-width: 1024px
    margin: 0 auto

    @include tablet
        padding: 10px
        
 
article,
aside,
footer,
header,
main,
nav,
section,
ul
    display: block
    margin: 0
    padding: 0

ul
    li
        list-style: none 

h1
    font-size: 40px
    line-height: 48px
    color: $black
    
    @include phone
        font-size: 30px

h2, h3
    color: $blue

h2
    font-size: 32px
    line-height: 39px
    font-weight: 300
    
    @include phone
        font-size: 22px
    
h3
    font-size: 24px
    line-height: 29px

h4
    font-size: 22px
    line-height: 27px
    color: $black
    
h5
    font-size: 16px
    line-height: 18px
    color: $green
    
p
    font-size: 15px
    line-height: 22px
    font-weight: 300
    
nav 
    
    li
        text-transform: uppercase

            
    
.btn
    background-color: $blue
    color: $white
    padding: 8px 12px
    
.btn:hover
    background-color: $yellow
    color: $blue
    
    
    
    
//--------------------------------------------------------------
//  add cushion between columns
//--------------------------------------------------------------    
    
    
    

section,
aside
    margin-left: 10px
    
    @include tablet
        margin-left: 6px
    
article
    margin-right: 10px
    
#sign-up
    margin-right: 15px
    
    @include tablet
        margin: 0
    
#social-media-links
    margin-left: 15px

.for-mobile-only
    display: none

    @include phone
        display: block

//--------------------------------------------------------------
//  Header-- *complete chaos*
//--------------------------------------------------------------


#site-header
    height: 135px
    width: 100%
    position: relative
        
    @include tablet
        height: 90px
        
    @media (max-width:1068px)
        height: 100px
        
    @media (min-width:767px) and (max-width:940px)
        height: 60px
        


    #logo
        border-right: $border
        position: absolute
        top: 0
        left: 0
        z-index: 999 
        height: 100%
        
        @include phone
            z-index:0
        

    li
        text-transform: uppercase
        display: inline
                
                    
    .utility-nav
        background-color: $white
        width: 100%
        border-bottom: $border
        height: 40% 
        
        @media (min-width:767px) and (max-width:940px)
            height: 100%
            
        @include phone
            display: none
    
        ul
            margin: 0 15em
            padding-top: 17px
            float: right
                
            @media (min-width:940px) and (max-width:1068px)
                padding: 10px
                margin: 0 9.4em
                
            @media (min-width:767px) and (max-width:940px)
                height: 100%
                line-height: 27px
                margin: 0 32px
                
            li
                font-size: 12px
                font-weight: 300
                margin-right: 18px
                
                a:link, a:visited
                    color: #4d4d4c
                a:hover
                    //border-bottom: 1px solid $yellow
                
                @media (max-width:1206px)
                    margin-right: 13px
                    font-size: 12px
  
        
            .utility-link-icons
                margin-top: -30px
                top: 0
                
                
                ul
                    padding: 0
                    margin: 0
                    position: absolute
                    top: -3px
                    right: 0              

                    li
                        margin: 0

                        a
                            display: inline-block
                            border-left: $border
                            text-align: center
                            padding: 16px
                            width: 28px
                            
                            @media (min-width:940px) and (max-width:1068px)
                                width: 18px
                                padding: 9px
                            
                            @media (max-width:939px)
                                display: block
                                position: relative
                                background: $white
                                height: 14px
                                z-index: 100
                                padding: 9px 2px
                                
                                img
                                    max-width: 35px
                                    height: auto
                                

                        #search
                            background-color: $green

                        img
                            margin: 0 auto
                    
    .main-nav
        position: relative
        display: block
        width: 100%
        height: 60%
        
        @include phone
            display: none
        
        ul
            float: right
            position: relative
            
            @media (min-width:767px) and (max-width:940px)
                position: absolute
                width: 100%
                background: #fff
                bottom: -28px
                text-align: center
                z-index: 99
                border-top: $border
                
                li
                    //font-size: 12px
                
            li
                margin: 4px 26px 4px 0
                font-size: 14px
                line-height: 80px
                
                a:link, a:visited
                    color: $black
                
                @media (max-width:1068px)
                    line-height: 64px
                
                
                @media (max-width:1206px)
                    font-size: 12px
                    margin: 0 18 0 0 
                    
                @media (max-width:978px)
                    font-size: 11px
                    
                    
                @media (min-width:767px) and (max-width:940px)
                    font-size: 12px
                    
                    
                    
//--------------------------------------------------------------
//  Mobile nav
//--------------------------------------------------------------
                    
.mobile-container 
    position: relative
    height: 100%
    -webkit-overflow-scrolling: touch 
        
.mobile-toggle 
    right: 9999px
    position: absolute
    top: -9999px




.mobile-toggle-label 

    cursor: pointer
    display: block
    position: fixed
    z-index: 99
    width: 57px
    height: 57px
    background-color: rgba(255,255,255,0.5)
    transition: all 400ms cubic-bezier(.39,.04,.3,.96)
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) 


.mobile-toggle-label:active 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) 


.mobile-toggle-label .mobile-toggle-icon, 
.mobile-toggle-label .mobile-toggle-icon:before, 
.mobile-toggle-label .mobile-toggle-icon:after 
    position: absolute
    top: 50%
    left: 50%
    height: 4px
    width: 36px
    cursor: pointer
    background: $green
    display: block
    content: ''
    transition: all 500ms cubic-bezier(.39,.04,.3,.96) 




.mobile-toggle-label .mobile-toggle-icon 
    transform: translate3d(-50%, -4px, 0)
    -webkit-transform: translate3d(-50%, -4px, 0) 


.mobile-toggle-label .mobile-toggle-icon:before 
    transform: translate3d(-50%, -14px, 0)
    -webkit-transform: translate3d(-50%, -14px, 0) 


.mobile-toggle-label .mobile-toggle-icon:after 
    transform: translate3d(-50%, 10px, 0)
    -webkit-transform: translate3d(-50%, 10px, 0) 


.mobile-toggle-label 
    right: 15px
    left: auto 



.mobile-toggle:checked ~ .mobile-toggle-label:not
    opacity: 0
    z-index: -1 



.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon
    background-color: transparent 


.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:before, 
.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:after  
    top: 0 


.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:before 
    transform: translateX(-50%) rotate(45deg)
    -webkit-transform: translateX(-50%) rotate(45deg) 


.mobile-toggle:checked ~ .mobile-toggle-label .mobile-toggle-icon:after 
    transform: translateX(-50%) translateY(-10px) rotate(-45deg)
    -webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg)
    top: 10px 
    
    
    
    
    

.mobile-nav 
    position: fixed
    top: 0
    right: 0
    z-index: 1
    height: 100%
    visibility: hidden
    transition-property: all
    transition-duration: 500ms
    transition-timing-function: cubic-bezier(.39,.04,.3,.96)
    height: 100%
    width: 90%
    background-color: $blue
    
    ul
        margin-top: 12%
        
        li
            a
                display: block
                text-align:center
                padding: 12px 0
                margin-right: 15%
                font-weight: 100
                letter-spacing: 1px
                
                
            a:link, a:visited
                color: $white
                
                


.mobile-toggle:checked ~ .mobile-overlay 
    right: 100%




.mobile-toggle:checked ~ .mobile-overlay 
    width: 100%
    height: 100%
    opacity: 1
    z-index: 2
    
[data-effect='mobile-slide'] .mobile-nav 
    z-index: 3
    transition-duration: 500ms


[data-effect='mobile-slide'] .mobile-nav 
    -webkit-transform: translate3d(900%, 0, 0)
    transform: translate3d(900%, 0, 0) 


[data-effect='mobile-slide'] .mobile-toggle:checked ~ .mobile-nav
    visibility: visible
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

/* OVERLAY */
[data-effect='mobile-slide'] .mobile-overlay  
    transition-duration: 500ms
    transition-delay: 250ms



//--------------------------------------------------------------
//  Hero Area
//--------------------------------------------------------------

.hero
    height: 45%
    width: 100%
    @include background( url(../img/placeholder.jpg) no-repeat center center)
    background-size: cover
    color: $white
    position: relative
    
    .overlay
        position: absolute
        height: 100%
        width: 100%
        background-color: rgba(0,0,0,0.4)
        
        
    .hero-info
        position: absolute
        max-width: 1024px
        padding: 8px
        width: 90%
        bottom: 10%
        left: 0
        right: 0
        margin: 0 auto

    
    .slider-nav
        position: absolute
        right: 0
    
    
    p
        color: $yellow
        margin-bottom: -10px
        
    
    h1
        color: $white
        margin: 6px 0 12px 0
        font-weight: 300
        
        
    #learn-btn
        font-size: 12px
        padding: 8px 18px
        
        
        



//--------------------------------------------------------------
//  Main
//--------------------------------------------------------------
    

main
    
    .border-bottom
        border-bottom: $border
    
    
    header
        position: relative
        
        .view-all-link
            position: absolute
            top: 12px
            right: 0
            font-size: 14px
            color: $grey

@include phone
    .container
        @include flex-wrap(wrap)
            
    h2
        font-size: 18px
        line-height: 23px
            
@include tablet
            
    h2
        font-size: 24px
        line-height: 27px
        
    aside
        margin-right: 8px
        

//------------------------------------
//  Welcome

.welcome
    
    color: $black




//------------------------------------
//  Upcoming Events

.upcoming-events
    
    .event-container
        display: block
        margin: 0 auto
        width: 100%
        margin-bottom: 34px


        a
            text-decoration: none
            display: block
            text-align: center
            padding: 12px 0 12px
            background: $green
            color: $white
            
        a:hover
            background-color: $blue
            color: $yellow


        .event-upper-wrapper
            display: block
            background-color: $white
            border: $border
            min-height: 58px

            .month

                padding: 7px 16px
                float: left
                margin: 0
                border-right: $border
                color: $grey
               



                .date
                    font-size: 28px
                    font-weight: 700
                    color: $blue
                    
                

            .event-title
                display: inline-block
                font-size: 18px
                margin-left: 6%
                
                @include phone
                    font-size: 14px


                

        .event-lower-wrapper

            @include display(flex)       
            @include flex-direction(row)
            width: 100%


            a
                width:50%
                border-right:1px solid white
                    
            


//------------------------------------
//  Aside - Public Input, Quick Links, Latest News

.public-input
    ul
        
        li
            margin: 26px 0 26px 0
            
            a
                color: $green
                
            a:hover
                color: $yellow



.quick-links
    
    ul
        margin: 0
        
        
        li
            margin-bottom: 8px
            padding: 0
            
            a
                display: block
                padding: 12px 20px
                font-weight: 300
                font-size: 14px
                
                img
                    float: right
                
            //@include tablet
                a
                    font-size: 22px
                    padding: 18px 16px 0 16px
                    height: 47px
                    
                img
                    margin-top: 8px
                    
//--------------------------------------------------------------
//  Connect With Us
//--------------------------------------------------------------

.connect-with-us
    margin: 0
    background-color: $white
    padding: 16px 0 32px 0
    
    h2
        text-align: center
    
    .container
    
        @include tablet
            display: block
            width: 75%

        .card
            @include flex-basis(50%)
            background: #fff
            padding: 30px
            border: $border
            
            
            
            h3,h4
                font-weight: 300
                margin-top: 0
                
        #sign-up


            form
                width: 100%
                
                input
                    position: relative
                    width: 100%
                    margin-bottom: 12px
                    padding-left: 1.8em
                    height: 47px
                    font-size: 14px
                    background-color: $white
                    border: 0
                    
                    @include placeholder
                        font-size: 14px
                        
                #contact-submit
                    position: relative
                        
                        
                    img 
                        position: absolute
                        right: 16px
                        top: 16px


                        
                    
            
        #social-media-feed
            
            @include phone
                h3
                    font-size: 18px
                    display: inline-block
                    width: 100%
                
            .name
                display: inline-block
                width: 49.5%  
                padding: 0
                margin: 0
                
            
                
                a:link, a:visited
                    color: $blue
                    display: block
                    padding: 0 0 10px
                    border-bottom: $border
                
                h3
                    text-align: center
                    padding-top: 0
                    
                .active
                    border-bottom: 4px solid $blue
                        //almost right...
                            
                .inactive
    
                    a:link, a:visited
                        color: $grey
        
        
                

            h4
                color: $grey
                    
            #like-btn
                float: right
                background-color: $white 
                color: #4d4d4c
                font-weight: 300
                font-size: 14px
            
            .feed 
                margin: 0
                
                img
                    width: 68px
                    height: auto
                    border: $border
                    float: left
                    margin-right: 16px
                    
                p
                    margin: 0
                    color: $grey
                    line-height: 22px
                
            

//--------------------------------------------------------------
//  Footer
//--------------------------------------------------------------

footer
    position: relative
    width: 100%
    background: $white
    
    
    .footer-nav:before,
    .footer-nav:after
        content: ""
        display: table

    .footer-nav:after 
        clear: both

    .footer-nav
        background: $blue
        padding: 28px 0 28px 14px


        a:link, a:visited
            color: $white
            font-weight: 200
            font-size: 14px
            line-height: 32px

        a:hover
            color: $yellow
        
        #mobile-footer
            
            @include phone
                columns: 2
                display: block
                width: 100%
                height: 80px
                text-align: center
                
                .footer-social-media
                    position: relative
                    width: 50%
                    float: right
                    border: 0
                    display: block
                    
                    img
                        height: auto
            
            
            
        .footer-column
            position: relative
            width: 15%
            height: 220px
            float: left
            margin: 1% 0 1% 1.5%
            padding-bottom: 16px
            border-right: 1px solid #95c0df
            display: table-cell
            
            @media (max-width:1120px)
                width: 31%
                border: 0
                
            @include phone
                display: none
                    
            
                
            .footer-sub-menu
                
                margin: 4px 0

                a:link, a:visited
                    color: #95c0df
                    font-size: 11px
                    font-weight: 100
                    letter-spacing: 1px
                    
                a:hover
                    color: $yellow
                    
            .footer-social-media
                position: absolute
                width: 90%
                bottom: 34px
                padding-top: 35px
                border-top: 1px solid #95c0df
                
                img
                    display: inline-block
                    height: 14px
                    width: auto
                    margin: 0 12px 0 8px
                    
                
            #logo-footer
                padding: 8px 0 34px
                
                    
        .footer-column:last-child
            border: 0
            

            
    p
        margin: 0
        text-align: center
        line-height: 54px
        font-size: 12px
        
        @include phone
            line-height: 18px
                    
    
